.enter-question {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    position: relative;

    .question-instructions {
       display: flex;
       flex-direction: column;
       align-items: flex-end; 
    }
    
.text {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    .intro {
        width: 70%;
    }
}

    .print-name {
        @include font-size(28);
        @include line-height(28);
        // border: 2px solid tomato;
        
        span {
            display: inline-block;
            color: $primary-accent;
            @include font-size(42);
            @include line-height(42);
            letter-spacing: 2px;
        }
    }
}

.decorative-question {
    margin-left: -12%;
    height: 40%;
    width: 40%;
    position: absolute;
    left: 0;
    top: 0;

    img {
        width: 100%;
        border-bottom-right-radius: 100%;
    }
}

@include desktop-small {
    .decorative-question {
        margin-right: -5%;
    }
}

@include tablet-large {
    .enter-question {
        .text .intro {
            width: 81.5%;
        }
    }
}

@media(max-width: 739px) {
    .enter-question {
        .text .intro {
            width: 100%;
        }
    }
} // additional @739px media query to clean up h3 & .text and .intro


@include tablet-small {
    .enter-question {
        h3 {
            @include font-size(75);
            @include line-height(75);
        }
        .print-name {
            @include font-size(24);
            @include line-height(24);
        }
    }
}

@include phone-small {
    .enter-question {
        h3 {
            @include font-size(60);
            @include line-height(60);
        }
    }
}