.enter-question {
    display: flex;
    // flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .question-instructions {
       display: flex;
       flex-direction: column;
       align-items: flex-end; 
       padding-left: 5%;
    }
    
    .text {
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        .intro {
            width: 70%;
        }
    } //text styling ends here

    .print-name {
        @include font-size(28);
        @include line-height(28);
        // border: 2px solid tomato;
        
        span {
            display: inline-block;
            color: $primary-accent;
            @include font-size(42);
            @include line-height(42);
            letter-spacing: 2px;
        }
    } //print-name styling ends here
} //enter-question styling ends here

.decorative-question {
    // order: 2;
    padding-left: -10%;
    background: url('../assets/questions.png') no-repeat;
    height: 95vh;
    background-size: cover;
    background-position: center;
    width: 30vw;
  
} //decorative-name styling ends here //decorative-question styling ends here

//media queries begin here
@include desktop-small {
    .decorative-question {
        margin-right: -5%;
        width: 28vw;
        background-position:right
    }
} //desktop-small media query ends here

@include tablet-large {
    // .enter-question {
    //     .text .intro {
    //         width: 81.5%;
    //     }
    // }

    .enter-question {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        position: relative;
        // border: 2px solid yellow;

        .decorative-question {
            order: 0;
            height: 40vh;
            background-size: cover;
            background-repeat: repeat;
            background-position: center;
            width: 100vw;
            margin: 0;
            // border: 2px solid pink;
        }
    }
} //tablet-large media query ends here


@media(max-width: 739px) {
    .enter-question {
        .text .intro {
            width: 100%;
        }
    }
} // additional @739px media query to clean up h3 & .text and .intro


@include tablet-small {
    .enter-question {
        h3 {
            @include font-size(75);
            @include line-height(75);
        }
        .print-name {
            @include font-size(24);
            @include line-height(24);
        }
    }
} //tablet-small media query ends here

@media (max-width: 1066px) {
    .decorative-name {
        width: 20vw;
    }
} //1066 media query ends here

@include phone-small {
    .enter-question {
        h3 {
            @include font-size(60);
            @include line-height(60);
        }
    }
} //phone-small media query ends here