.enter-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: relative;
}

//animation
.decorative-name {
    margin-right: -12%;
    height: 40%;
    width: 40%;

    position: absolute;
    right: 0;
    top: 0;

    img {
        width: 100%;
        border-bottom-left-radius: 100%;
    }
}

@include desktop-small {
    .decorative-name {
        margin-right: -5%;
    }
}

@include tablet-small {
    .enter-name {
        h3 {
            @include font-size(75);
            @include line-height(75);
        }
    }
}

@include phone-small {
    .enter-name {
        h3 {
            @include font-size(60);
            @include line-height(60);
        }
    }
}