form:not(.form-reset) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}

input[type='text'] {
    margin-top: 10%;
    width: 450px;
    height: 50px;
    padding: 15px;
}

input[type='submit'] {
    text-transform: uppercase;
    height: 70px;
    width: 50%;
    margin-top: 10%;
    color: $secondary-colour;
    background-color: $primary-accent;
}

.name-form input[type='text'] {
    text-transform: capitalize;
} //capitalize first letter of user's input

//general form styling ends here

//media queries begin here
@media(max-width: 556px) {
    input[type='text'] {
        width: 375px;
    }
}  //556px media query ends here

@include phone-large {
    input[type='text'] {
        width: 325px;
    }
} //phone-large media query ends here

@include phone-small {
    input[type='text'] {
        width: 280px;
    }

    .name-form input[type='submit'] {
        height: 60px;
    }

    .form-submit input[type='submit'] {
       @include font-size(17)   
    }
} //phone-small media query ends here

@media(max-width: 358px) {
    input[type='text'] {
        width: 263px;
    }
}  //358px media query ends here
