.results-wrapper {
    padding: 5% 0;
    display: flex;
    justify-content: space-between;
    position: relative;

    .image-container {
       width:44%;
       position: absolute;
       top: 0;
       right: 0;
       z-index: -10;
       order: 2;

       img {
           width: 75%;
       }
    }
} //.results-wrapper styling ends here

.result-text {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    .user-question {
        padding: 0 5% 5% 0;   
    }

    span {
        color: $primary-accent;
        display: inline-block;
    }

    .fortune {
        width: inherit;
        text-align: right;

        span {
            display: block;
        }
    }
} //results-text styling ends here

.reset {
    .form-reset {
        width: 100%;
        margin: 2% 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    input[type="submit"] {
        width: 15%;
        padding: 0;
        margin: 0;
    }
} //.reset styling ends here

//general display-results styling ends here

@include tablet-large {
    .result-text {
        h3 {
            @include font-size(80);
            @include line-height(80);
        }
    }
} //tablet-large media query ends here

 @media (max-width: 774px) {
     .result-text .user-question{
         span {
           display: inline;
        }
    }
} //774px media query ends here

@media (max-width: 640px) {
    .result-text {
        h3 {
            @include font-size(75);
            @include line-height(75);
        }
    }
 } //640 media query ends here

@include tablet-small {
    .result-text {
        h3 {
            @include font-size(60);
            @include line-height(60);
        }
    } 

    .result-text {
        .user-question {
            padding-right: 0;
        }
    }

    .fortune h3 {
        text-align: left;
    }

    .reset {
        input[type="submit"] {
            width: 30%;
        }
    }
} // tablet-small media query ends here

@include phone-small {
    .result-text {
        h3 {
            @include font-size(50);
            @include line-height(50);
        }
    }
} //phone-small media query ends here