.form-container {
    border: 2px dotted green;
}

form:not(.form-reset) {
    // height: 18vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}

input[type=text] {
    width: 400px;
    height: 50px;
    padding: 15px;
}

input[type=submit] {
    text-transform: uppercase;
    height: 70px;
    width: 50%;
    margin-top: 10%;
    color: $secondary-colour;
    background-color: $primary-accent;
}

