body {
    margin: 0 auto;
    max-width: 1600px;
    min-height: 100vh;
    background-image: $primary-colour;
    color: $secondary-colour;
    cursor: url('../assets/noun-eight-ball-mouse.svg'), auto;
}

.wrapper {
    padding: 0 10%;
    display: flex;
    flex-direction: column;   
}

.form-container {
    min-height: 95vh; 
}

span {
    display: block;
}

a {
    cursor: pointer;
    margin-top: 10%;
    padding: 25px;
    width: 50%;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    color: $secondary-colour;
    background: $primary-accent;
    border: 2px solid white;
}

//submit transition
a,
input[type="submit"] {
    transition: $transition-detail;
}
 
//button hover
a:hover,
input[type="submit"]:hover {
    background-color: $secondary-colour;
    color: $primary-accent;
}

//accessibility
input[type="text"]:focus,
input[type="submit"]:focus,
a:focus {
    border: 2px solid $secondary-accent;
}

//media queries begin here
@include desktop-small {
     .wrapper {
        padding: 0 5%;
    }
}//desktop-small  media query ends here

@media(max-width: 622px) {
    .wrapper {
        padding: 0 7%;
    }
    
    header a {
        padding: 15px;
    }
} //622px media query ends here