.wrapper {
    background-image: $primary-colour;
    color: $secondary-accent;
    max-width: 1600px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
    min-height: 100vh;
}




