@mixin font-size($size-value){
  font-size: $size-value * 1px;
  font-size: ($size-value/20) * 1rem;
}

@mixin line-height($height-value){
  line-height: $height-value * 1.6;
  line-height: ($height-value/20) *1.6rem;
}



//media query mixins
 @mixin desktopLarge {
   @media (max-width: 1600px) {@content};
 }

 @mixin desktopSmall {
   @media (max-width: 1200px) {@content};
 }

 @mixin tabletLarge {
   @media(max-width: 900px) {@content};
 }

  @mixin tabletSmall {
   @media(max-width: 600px) {@content};
 }

  @mixin phone {
   @media(max-width: 480px) {@content};
 }