h1 {
    font-family: $primary-font;
    color: $primary-accent;
    @include font-size(200);
    @include line-height(200);
}

h2 {
    color: $secondary-colour;
    @include font-size(35);
    @include line-height(35);
}

 h1, h2, h3, h4, p {
    margin: 0;
}

h2, h3, h4, p, input[type="text"], {
    font-family: $secondary-font;
    font-weight: 300;

}

input[type="submit"], #name-button {
    font-family: $secondary-font;
    font-weight: 700;
}

h3 {
    color: $secondary-colour; 
    @include font-size(90);
    @include line-height(90);
}