$primary-colour: linear-gradient(to right top, #302f30, #2d2c2e, #2a2a2b, #282729, #252526, #242425, #232425, #222324, #232425, #232526, #242626, #252727);
$secondary-colour:white; 
$primary-accent: #ab20fd; //neon purple
$secondary-accent: blue; //neon blue for focus
$primary-font: 'Bangers', cursive;
$secondary-font: 'Lato', sans-serif;
$primary-line-height: 1.6rem;
$transition-detail: .7s ease-in-out;





