$primary-colour: linear-gradient(315deg, #485461 0%, #28313b 74%);
$secondary-colour:white; 
$primary-accent: #ab20fd; //neon purple
$secondary-accent: #ff0083;
$tertiary-accent: #074115;
// $black: #2c2c2c;

$primary-font: 'Lobster Two', cursive;
$secondary-font: 'Lato', sans-serif;
$primary-line-height: 1.6rem;



$transition-detail: .7s ease-in-out;
// $headingLineHeight: 92px;
// $primaryLetterSpacing: 1.3px;
// $secondaryLetterSpacing: 1px;



    // font-family: 'Bungee Inline', cursive;

    // font-family: 'Lato', sans-serif;



    // font-family: 'Lato', sans-serif;

    // font-family: 'Lobster Two', cursive;




