article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden; }

.skip-link {
  position: absolute;
  left: -1000px;
  top: 5px;
  z-index: 999;
  background: white;
  color: black; }

.skip-link:focus {
  left: 0; }

h1 {
  font-family: "Bangers", cursive;
  color: #ab20fd;
  font-size: 190px;
  font-size: 9.5rem;
  line-height: 304;
  line-height: 15.2rem; }

h2 {
  color: white;
  font-size: 35px;
  font-size: 1.75rem;
  line-height: 56;
  line-height: 2.8rem; }

h1, h2, h3, h4, p {
  margin: 0; }

h2, h3, h4, p, input[type="text"] {
  font-family: "Lato", sans-serif;
  font-weight: 300; }

input[type="submit"], #name-button {
  font-family: "Lato", sans-serif;
  font-weight: 700; }

h3 {
  color: white;
  font-size: 90px;
  font-size: 4.5rem;
  line-height: 144;
  line-height: 7.2rem; }

body {
  margin: 0 auto;
  max-width: 1600px;
  min-height: 100vh;
  background-image: -webkit-gradient(linear, left bottom, right top, from(#302f30), color-stop(#2d2c2e), color-stop(#2a2a2b), color-stop(#282729), color-stop(#252526), color-stop(#242425), color-stop(#232425), color-stop(#222324), color-stop(#232425), color-stop(#232526), color-stop(#242626), to(#252727));
  background-image: -webkit-linear-gradient(left bottom, #302f30, #2d2c2e, #2a2a2b, #282729, #252526, #242425, #232425, #222324, #232425, #232526, #242626, #252727);
  background-image: -o-linear-gradient(left bottom, #302f30, #2d2c2e, #2a2a2b, #282729, #252526, #242425, #232425, #222324, #232425, #232526, #242626, #252727);
  background-image: linear-gradient(to right top, #302f30, #2d2c2e, #2a2a2b, #282729, #252526, #242425, #232425, #222324, #232425, #232526, #242626, #252727);
  color: white;
  cursor: url("../assets/noun-eight-ball-mouse.svg"), auto; }

.wrapper {
  padding: 0 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.form-container {
  min-height: 95vh; }

span {
  display: block; }

a {
  cursor: pointer;
  margin-top: 10%;
  padding: 25px;
  width: 50%;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  color: white;
  background: #ab20fd;
  border: 2px solid white; }

a,
input[type="submit"] {
  -webkit-transition: 0.7s ease-in-out;
  -o-transition: 0.7s ease-in-out;
  transition: 0.7s ease-in-out; }

a:hover,
input[type="submit"]:hover {
  background-color: white;
  color: #ab20fd; }

input[type="text"]:focus,
input[type="submit"]:focus,
a:focus {
  border: 2px solid blue; }

@media (max-width: 1200px) {
  .wrapper {
    padding: 0 5%; } }

@media (max-width: 622px) {
  .wrapper {
    padding: 0 7%; }
  header a {
    padding: 15px; } }

header {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  header .title {
    width: 100%;
    padding-top: 10%;
    margin: 0; }
  header .instructions-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end; }
  header .instructions {
    width: 50%;
    margin: 0;
    padding-bottom: 5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }

@media (max-width: 1200px) {
  header h1 {
    font-size: 180px;
    font-size: 9rem; } }

@media (max-width: 900px) {
  header {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    header h1 {
      font-size: 165px;
      font-size: 8.25rem;
      line-height: 264;
      line-height: 13.2rem; } }

@media (max-width: 600px) {
  header h1 {
    font-size: 125px;
    font-size: 6.25rem;
    line-height: 200;
    line-height: 10rem; }
  header .instructions {
    width: 60%; }
  header h2 {
    font-size: 30px;
    font-size: 1.5rem;
    line-height: 48;
    line-height: 2.4rem; } }

@media (max-width: 480px) {
  header {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center; }
    header .title {
      padding-top: 0; }
    header h1 {
      font-size: 100px;
      font-size: 5rem;
      line-height: 160;
      line-height: 8rem;
      padding-bottom: 10%; }
    header .instructions {
      width: 100%;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; } }

@media (max-width: 400px) {
  header h1 {
    font-size: 85px;
    font-size: 4.25rem;
    line-height: 136;
    line-height: 6.8rem;
    padding-bottom: 10%; }
  header h2 {
    font-size: 24px;
    font-size: 1.2rem;
    line-height: 38.4;
    line-height: 1.92rem; }
  header .instructions a {
    margin-top: 20%; }
  header .title,
  header .instructions-container {
    padding: 0 5%; } }

form:not(.form-reset) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 10px; }

input[type='text'] {
  margin-top: 10%;
  width: 450px;
  height: 50px;
  padding: 15px; }

input[type='submit'] {
  text-transform: uppercase;
  height: 70px;
  width: 50%;
  margin-top: 10%;
  color: white;
  background-color: #ab20fd; }

.name-form input[type='text'] {
  text-transform: capitalize; }

@media (max-width: 556px) {
  input[type='text'] {
    width: 375px; } }

@media (max-width: 480px) {
  input[type='text'] {
    width: 325px; } }

@media (max-width: 400px) {
  input[type='text'] {
    width: 280px; }
  .name-form input[type='submit'] {
    height: 60px; }
  .form-submit input[type='submit'] {
    font-size: 17px;
    font-size: 0.85rem; } }

@media (max-width: 358px) {
  input[type='text'] {
    width: 263px; } }

.enter-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.decorative-name {
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
  padding-right: -10%;
  background: url("../assets/question-mark.png") no-repeat;
  height: 95vh;
  background-size: cover;
  background-position: center;
  width: 30vw; }

@media (max-width: 1200px) {
  .decorative-name {
    margin-right: -5%;
    width: 28vw;
    background-position: right; } }

@media (max-width: 1066px) {
  .decorative-name {
    width: 20vw; } }

@media (max-width: 900px) {
  .form-container {
    height: 40vh; }
  .enter-name {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative; }
    .enter-name .decorative-name {
      -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
      order: 0;
      height: 40vh;
      background-size: cover;
      background-repeat: repeat;
      background-position: center;
      width: 100vw;
      margin: 0; } }

@media (max-width: 600px) {
  .form-container {
    height: 30vh; }
  .enter-name h3 {
    font-size: 75px;
    font-size: 3.75rem;
    line-height: 120;
    line-height: 6rem; } }

@media (max-width: 400px) {
  .enter-name h3 {
    font-size: 60px;
    font-size: 3rem;
    line-height: 96;
    line-height: 4.8rem; } }

.enter-question {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .enter-question .question-instructions {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    padding-left: 5%; }
  .enter-question .text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end; }
    .enter-question .text .intro {
      width: 70%; }
  .enter-question .print-name {
    font-size: 28px;
    font-size: 1.4rem;
    line-height: 44.8;
    line-height: 2.24rem; }
    .enter-question .print-name span {
      display: inline-block;
      color: #ab20fd;
      font-size: 42px;
      font-size: 2.1rem;
      line-height: 67.2;
      line-height: 3.36rem;
      letter-spacing: 2px; }

.decorative-question {
  padding-left: -10%;
  background: url("../assets/questions.png") no-repeat;
  height: 95vh;
  background-size: cover;
  background-position: center;
  width: 30vw; }

@media (max-width: 1200px) {
  .decorative-question {
    margin-right: -5%;
    width: 28vw;
    background-position: right; } }

@media (max-width: 900px) {
  .enter-question {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative; }
    .enter-question .decorative-question {
      -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
      order: 0;
      height: 40vh;
      background-size: cover;
      background-repeat: repeat;
      background-position: center;
      width: 100vw;
      margin: 0; } }

@media (max-width: 739px) {
  .enter-question .text .intro {
    width: 100%; } }

@media (max-width: 600px) {
  .enter-question h3 {
    font-size: 75px;
    font-size: 3.75rem;
    line-height: 120;
    line-height: 6rem; }
  .enter-question .print-name {
    font-size: 24px;
    font-size: 1.2rem;
    line-height: 38.4;
    line-height: 1.92rem; } }

@media (max-width: 1066px) {
  .decorative-name {
    width: 20vw; } }

@media (max-width: 400px) {
  .enter-question h3 {
    font-size: 60px;
    font-size: 3rem;
    line-height: 96;
    line-height: 4.8rem; } }

.results-wrapper {
  padding: 5% 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative; }
  .results-wrapper .image-container {
    width: 44%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -10;
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2; }
    .results-wrapper .image-container img {
      width: 75%; }

.result-text {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start; }
  .result-text .user-question {
    padding: 0 5% 5% 0; }
  .result-text span {
    color: #ab20fd;
    display: inline-block; }
  .result-text .fortune {
    width: inherit;
    text-align: right; }
    .result-text .fortune span {
      display: block; }

.reset .form-reset {
  width: 100%;
  margin: 2% 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.reset input[type="submit"] {
  width: 15%;
  padding: 0;
  margin: 0; }

@media (max-width: 900px) {
  .result-text h3 {
    font-size: 80px;
    font-size: 4rem;
    line-height: 128;
    line-height: 6.4rem; } }

@media (max-width: 774px) {
  .result-text .user-question span {
    display: inline; } }

@media (max-width: 640px) {
  .result-text h3 {
    font-size: 75px;
    font-size: 3.75rem;
    line-height: 120;
    line-height: 6rem; } }

@media (max-width: 600px) {
  .result-text h3 {
    font-size: 60px;
    font-size: 3rem;
    line-height: 96;
    line-height: 4.8rem; }
  .result-text .user-question {
    padding-right: 0; }
  .fortune h3 {
    text-align: left; }
  .reset input[type="submit"] {
    width: 30%; } }

@media (max-width: 400px) {
  .result-text h3 {
    font-size: 50px;
    font-size: 2.5rem;
    line-height: 80;
    line-height: 4rem; } }

footer {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
